# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Xcode and Swift build artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/
